<p id="notice"><%= notice %></p>

<p>
  <strong>Modelo:</strong>
  <%= @auto.modelo %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @auto.marca %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @auto.ano %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @auto.precio %>
</p>

<p>
  <strong>Agencia:</strong>
  <%= @auto.agencia %>
</p>

<%= link_to 'Edit', edit_auto_path(@auto) %> |
<%= link_to 'Back', autos_path %>
